@{
    var error = TempData["Error"] as string;
    var success = TempData["Success"]  as string;
}

@if (error != null)
{<div class="text-center">
        <h2 class="alert-danger" style="padding:20px;">@error</h2>
    </div>
}
@if (success != null)
{<div class="text-center">
        <h2 class="alert-success" style="padding:20px;">@success</h2>
    </div>
}

<div class="text-center">
    <h1>Please enter the field to Add new Order</h1>

    <form action="/addorder" method="post">
        <p><input type="text" name="CarNumber" placeholder="CarNumber" /></p>
        <p><input type="text" name="Brand" placeholder="Brand" /></p>
        <p><input type="text" name="Model" placeholder="Model" /></p>
        <p><input type="text" name="PhoneNumber" placeholder="Client phone number " /></p>
        <p><input type="text" name="WorkerID" placeholder="WorkerID" /></p>
        <p><input type="text" name="Status" placeholder="Status" /></p>
        <p><input type="date" name="Deadline" placeholder="Deadline" /></p>
        <p><input type="text" name="Price" placeholder="Price" /></p>
        <p><input type="submit" value="CreateOrder" /></p>
    </form>
</div>