@{
    ViewData["Title"] = "Home Page";
}

@{
    var user = Model;
}
@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h1 class="display-4">Hey @user[0].FirstName @user[0].LastName </h1>
        <p>
            Wellcome on our site!
            Here you can find some information about new kind of Service Station
        </p>
    </div>
}
else
{
<div class="text-center">
    <h1 class="display-4">Wellcome</h1>
    <p>
        Wellcome on our site!
        Here you can find some information about new kind of Service Station
    </p>

    <p>Fack You</p>
</div>
}