
@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
}
@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding:20px;">@error</h2>
}
<h1>Login Page</h1>
<form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    <table>
        <tr>
            <td>
                <p><input type="text" name="username" placeholder="Username" /></p>
                <p><input type="password" name="password" placeholder="Password" /></p>
                <div class="text-center">
                    <p><input type="submit" value="login" /></p>
                </div>
            </td>
        </tr>
    </table>

</form>
