
@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
}
@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding:20px;">@error</h2>
}
<h1>Login Page</h1>
<form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    <input type="text" name="username" value="Username" />
    <input type="password" name="password" value="Password" />
    <input type="submit" value="login" />
</form>