@{

    var error = TempData["Error"] as string;
}
@if (!string.IsNullOrEmpty(error))
{<div class="text-center">
        <h2 class="alert-danger" style="padding:20px;">@error</h2>
    </div>
}
<div class="text-center">
    <h1>Please enter the field to regastration</h1>

    <form action="/registration" method="post">
        <p><input type="text" name="firstName" placeholder="First name" /></p>
        <p><input type="text" name="lastName" placeholder="Last name" /></p>
        <p><input type="email" name="email" placeholder="Email" /></p>
        <p><input type="text" name="phone" placeholder="Phone number" /></p>
        <p><input type="password" name="password" placeholder="Password" /></p>
        <p><input type="password" name="confirmPassword" placeholder="Confirm password" /></p>
        <p><input type="submit" value="Sign up" /></p>
    </form>
</div>

