@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Здесь ничего нет. Это тестовый уровень, придурок!</h1>
<form action="/registration" method="post">
    <input type="text" name="firstName" placeholder="First name" />
    <input type="text" name="lastName" placeholder="Last name" />
    <input type="email" name="email" placeholder="Email" />
    <input type="text" name="phone" placeholder="Phone number" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="confirmPassword" placeholder="Confirm password" />
    <input type="submit" value="Sign up" />
</form>